
body {
  margin: 0;
  padding: 0;

  background-color: var(--clr-primary);

  min-height: 100vh;

  font-family: var(--ff-secondary);
  font-size: var(--menu-item-size);
}

main {
  display: grid;
  place-content: top;

  height: 80vh;

  padding-inline: 1rem;
  text-align: center;
}



/* image styling */

img {
  display: block;

  max-width: 100%;
  object-fit: cover;
  
  font-style: italic;
}



/* text styling */

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff-primary);
}

p {
  color: var(--clr-copy);
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 700;
}


/* link styling */

.nav-link:link,
.nav-link:visited {
  text-decoration: none;
  color: var(--clr-secondary);

  font-weight: 500;
  font-size: calc(var(--menu-item-size) * 1.1);

  white-space: nowrap;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--clr-highlight);
}


/* buttons */

.hamburger-button {
  all: unset;
  display: none;
  place-items: center;
}



section {
    display: grid;
    stroke-width: 1rem;
    margin: 2rem;
    padding: 1rem;
    gap: 0.5rem;

}
.articlebox-article {
    display: grid;
    grid-template-columns: 4fr 2fr;
    gap: 1rem;
    align-items: center;
}
.articlebox {
  stroke:1rem black;
  background-color: lightcyan;
  stroke-width: 1rem;
  border:0.11rem solid black;
  border-radius: 1rem;
  grid-column: span 2;
  
}

.main-title {
  grid-column: span 2;
  font-size: 2rem;
  margin: 3rem;
}

.didi {
  max-width: 100rem;
  max-height: 30rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  border-radius: 2rem;
}
img {
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 1rem;
  padding-right: 1rem;
}

p {
  padding: 1rem;
  grid-column: span 1;
}

a:link {
  text-decoration: none;
}

a:hover {
  color: #E7A4E9;
}

a:active {
  color: #E9A4C8;
}